@import "tailwindcss";


:root {
  /* COLORS */
  --primary: #CB1B1B;
  --primary-dark: #331010;
  --background: #0d0d0d;
  --foreground: #0d0d0d;

  /* FONT */
  --font-manrope: 'Manrope',Arial, Helvetica, sans-serif;

  /* BORDER RADIUS */
  --border-radius: 0.5rem;
  --card-radius: 0.5rem;
  --btn-border-radius: 0.25rem;
  --chip-radius: 2.5rem;
  

  /* BORDER COLORS */
  --card-border-color: rgba(255, 255, 255, 0.1);
  --chip-border-color: rgba(203, 27, 27, 0.1);
}

@theme {
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0d0d;
    --foreground: #fafafa;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}



.card {
  @apply inline-block border border-[var(--card-border-color)] rounded-[var(--card-radius)]; 
}

.btn {
  @apply h-fit lg:py-4 py-3 lg:px-6 px-5 rounded-[var(--btn-border-radius)] text-[#0d0d0d] lg:text-[16px] text-[14px] bg-[#fafafa] font-semibold cursor-pointer;
}

.btn:hover {
  @apply bg-[rgba(250,250,250,0.8)] transition-colors duration-300;
}

.primary {
  @apply bg-[var(--primary)] box-border border-[var(--card-border-color)] border text-white font-semibold;
}

.primary:hover {
  @apply bg-[rgba(203,27,27,0.6)] transition-colors duration-400;
}

.secondary {
  @apply bg-transparent text-[var(--primary)];
}

.chip {
  @apply py-2 px-4 inline-block font-semibold text-[14px] text-[#0d0d0d] bg-[#fafafa] rounded-[var(--chip-radius)];
}

.section {
  @apply lg:py-24 py-16 flex flex-col gap-16;
}

.display-text {
  @apply lg:text-[92px] text-[48px] leading-none;
}

.heading-1 {
  @apply lg:text-7xl leading-none;
}

.heading-2 {
  @apply lg:text-[56px] text-4xl leading-none
}

.heading-3 {
  @apply lg:text-[48px] text-[32px] leading-none
}

.heading-4 {
  @apply lg:text-[40px] text-[24px] leading-none
}

.heading-5 {
  @apply text-[32px] leading-none
}

.heading-6 {
  @apply text-[24px] leading-none
}

.paragraph-hero {
  @apply lg:text-[20px] text-[16px] text-[#CBCBCB] leading-[150%]
}

.paragraph {
  @apply lg:text-[20px] text-[16px] text-[#CBCBCB] leading-[150%]
}

.paragraph-2 {
  @apply lg:text-[16px] text-[14px] text-[#CBCBCB] leading-[150%]
}

.nav-link-item {
  @apply text-[#fafafa] leading-[100%]
}

.nav-link-item:hover {
  @apply text-[#CB1B1B] transition-colors duration-300;
}


